{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.6"/>
{% endset %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% set kernel_options_post = "efi=runtime" %}
{% set ks_append %}
  {{ nightly.ks_append(rt=true) }}
{% endset %}
{% set repos %}
    <repo name="pulp_0" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/os"/>
    <repo name="pulp_1" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/optional/os"/>
    <repo name="pulp_2" url="http://rhsm-pulp.corp.redhat.com/content/eus/rhel/server/7/7.6/{{ ARCH }}/debug"/>
    <repo name="pulp_3" url="http://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7.6/{{ ARCH }}/rt/os/"/>
{% endset %}
