{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux8"/>
  <distro_name op="=" value="RHEL-8.7.0-20220718.0"/>
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=TREE.endswith("-rt")) }}
  <ks_append><![CDATA[
%post
# Enable Buildroot for test dependencies
cat >/etc/yum.repos.d/BUILDROOT-8.repo <<EOF
[BUILDROOT-8]
name=BUILDROOT-8
baseurl=http://download.eng.rdu2.redhat.com/rhel-8/nightly/BUILDROOT-8/BUILDROOT-8.7.0-RHEL-8-20220718.0/compose/Buildroot/{{ ARCH }}/os/
enabled=1
gpgcheck=0
skip_if_unavailable=1
EOF
%end
]]>      </ks_append>
{% endset %}
